<template>
<div class="about">
    <div v-if="!isMobile()">
        <img class="desktop" src="images/Logo_XP_arena700px.png" alt="">
    </div>
    <div v-else>
        <img class="mobile" src="images/Logo_XP_arena700px.png" alt="">
    </div>
    <section>
        <figure>
            <img class="branch-graphic" src="images/info-imgs/info-about-graphic.png" alt="">
        </figure>
        <h2>About us</h2>
        <p>XP arena is heavily inspired by the book Reality is Broken by Jane McGonigal.<br>
            <br>
            Games are very good at motivating people to do seamingly meaningless work. Our mission is to provice a platform that allows the user to add game mechanics to any prosess to make it more inviting, challenging and fun!</p>
    </section>
    <GamifyingVideoOrganism/>
    <ContactFormOrganism/>
</div>
</template>

<script>
import GamifyingVideoOrganism from "../Organisms/GamifyingVideoOrganism";
import ContactFormOrganism from "../Organisms/ContactFormOrganism";

export default {
    name: "About",
    components: {
        GamifyingVideoOrganism,
        ContactFormOrganism
    }
}
</script>

<style scoped>
.about {
    background: #25202C;
}
section {
    background: #1B1720;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    border: 1px solid #443C52;
    border-radius: 15px;
}
h2 {
    font-weight: bold;
}

section p {
    width: 80%;
    margin: 0 auto 1em auto;
}

figure {
    background: #443C52;
    border-radius: 15px 15px 0 0;
}

.mobile {
    width: 100%;
}

.branch-graphic {
    width: 85%;
}
</style>
