<template>
    <div>
        <h1>Contact</h1>
        <ContactFormOrganism/>
    </div>
</template>

<script>
import ContactFormOrganism from "../Organisms/ContactFormOrganism";

export default {
    components:{
        ContactFormOrganism
    }
}

</script>

<style scoped>

</style>
