<template>
    <div>
        <main class="quest-container">
            <div v-show="playerShow" class="user-container">
                <img id="profile-pic" :src="'storage/' + avatar" alt="">
                <div class="user-data-container">
                    <h2 class="real-name">{{ user.firstName + ' ' + user.familyName }}</h2>
                    <h1 class="username">{{ user.nickname }}</h1>
                    <h3 class="email">{{ user.email }}</h3>
                </div>
                <div class="level-container">
                    <p>Level</p>
                    <h1 class="level-num">{{ user.user_level }}</h1>
                </div>
                <div class="experience-container">
                    <p>experience points</p>
                    <span></span>
                    <p>{{ user.current_experience }}/{{ nextlevel }}</p>
                </div>
            </div>

            <div class="games-container" v-show="visibilityList">
                <div class="heading">

                    <QuestJoinOrCreateOrganism v-show="visibilityAdd" @closeadd="showAdd" :user="user" :games="data"
                        @reloadlist="getList" ref="addQuest" />

                </div>
                <QuestViewOrganism :user="user" :games="data" :joinedGames="joinedGames" @reloadlist="getList"
                    @changevisibility="setVisible" />
            </div>
        </main>
        <router-view v-show="visibilityDetails" :games="data" :joinedGame="joinedGames" :user="user"
            @changevisibility="setNotVisible" @changebool="hidePlayer">
        </router-view>
        <button v-bind:class="{ 'create-game': !clicked, 'cancel': clicked }"
            @click="changeStyling(); showAdd();">+</button>
    </div>
</template>

<script>
import AddQuestOrganism from "../Organisms/AddQuestOrganism";
import QuestViewOrganism from "../Organisms/QuestViewOrganism";
import QuestJoinOrCreateOrganism from "../Organisms/QuestJoinOrCreateOrganism";

export default {
    name: "Dashboard",
    components: {
        QuestJoinOrCreateOrganism,
        AddQuestOrganism,
        QuestViewOrganism
    },
    props: ['user', 'avatar'],
    data: function () {
        return {
            quests: [],
            clicked: false,
            experience: 1200,
            userLevel: 5,
            visibilityList: true,
            visibilityDetails: false,
            visibilityAdd: false,
            nextlevel: 2000,
            data: [],
            playerShow: true,
            joinedGames: []
        }
    },
    mounted() {
        axios
            .get('api/joinedGame/')
            .then(response => (this.joinedGames = response.data));
        axios
            .get('api/quests/')
            .then(response => (this.data = response.data));

        this.$root.$on('showplayer', () => {
            this.playerShow = true
        })
    },
    methods: {
        hidePlayer() {
            this.playerShow = false;
        },
        showAdd() {
            this.visibilityAdd = this.visibilityAdd === false;
            this.$refs.addQuest.showJoin()
        },
        changeStyling() {
            this.clicked = this.clicked === false;
        },
        setVisible() {
            this.visibilityDetails = true
            this.visibilityList = false
        },
        setNotVisible() {
            this.visibilityDetails = false
            this.visibilityList = true
        },
        getList() {
            axios.get('api/quests')
                .then(response => {
                    this.data = response.data
                })
                .catch(error => {
                    console.log(error)
                })
            window.location.reload();
        },
    }
}
</script>

<style scoped>
#profile-pic {
    background: url("images/UI/default-profile-pic.png") white;
    background-size: cover;
}

.quest-container {
    margin: 0 auto;
}

.user-container {
    display: grid;
    grid-template-columns: [first] 40% [second] 60% [end] 0;
    margin: 0 auto;
    border: 2px solid #443C52;
    border-radius: 10px;
}

.user-data-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.email {
    color: #8B819C;
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
}

.username {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Spartan', sans-serif;
}

.real-name {
    color: #8B819C;
    font-size: 14px;
}

h1,
h2,
h3,
p {
    text-align: left;
}

img {
    grid-column: 1;
    width: 120px;
    height: 120px;
    background: white;
}

.level-container {
    grid-column: 1;
    grid-row: row2-start;
    background: #443C52;

}

.experience-container {
    grid-column: 2;
    grid-row: row2-start;
    background: #443C52;
}

.create-game {
    z-index: 10;
    position: fixed;
    font-size: 3em;
    bottom: 0.5em;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 100px;
    background: linear-gradient(#FDA829 0%, #FF5C00 100%);
}

.cancel {
    z-index: 10;
    position: fixed;
    font-size: 3em;
    bottom: 0.5em;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 100px;
    background: linear-gradient(#4DA9FF 0%, #3770A6 100%);
}
</style>
