<template>
    <div class="home">
        <div v-if="!isMobile()">
            <img class="desktop" src="images/Logo_XP_arena700px.png" alt="">
        </div>
        <div v-else>
            <img class="mobile" src="images/Logo_XP_arena700px.png" alt="">
        </div>
            <WelcomeXpArenaOrganism/>
            <GamificationInfoOrganism/>
            <EasyOrganism/>
            <StartNowOrganism
                :register-route="registerRoute"
            />

        </div>
</template>

<script>
import WelcomeXpArenaOrganism from "../Organisms/WelcomeXpArenaOrganism";
import EasyOrganism from "../Organisms/EasyOrganism";
import GamificationInfoOrganism from "../Organisms/GamificationInfoOrganism"
import StartNowOrganism from "../Organisms/StartNowOrganism";

export default {
    name: "Home",
    components:{
        WelcomeXpArenaOrganism,
        EasyOrganism,
        GamificationInfoOrganism,
        StartNowOrganism
    },
    props: ['registerRoute']
}
</script>

<style scoped>
    .mobile {
        width: 100%;
    }
</style>
