<template>
    <div>
        <h1>Login</h1>
        <LoginFormOrganism></LoginFormOrganism>
    </div>
</template>

<script>

import LoginFormOrganism from "../Organisms/LoginFormOrganism";
export default {
    name: "Login",
    components: {
        LoginFormOrganism
    }
}
</script>

<style scoped>

</style>
