<template>
    <div>
        <section class="change-profile">
            <h2>Edit account</h2>

            <div id="name-info">
                <label for="user-first-name">First name:</label>
                <input id="user-first-name" type="text" v-model="account.firstName">

                <label for="user-last-name">Family name:</label>
                <input id="user-last-name" type="text" v-model="account.lastName ">
            </div>

            <div id="email-info">
                <label for="user-email">E-mail:</label>
                <input id="user-email" type="text" v-model="account.email">
            </div>

            <div id="password-info">
                <label for="user-password">Password:</label>
                <input id="user-password" type="password" v-model="account.password">

                <label for="repeat-password">Repeat:</label>
                <input id="repeat-password" type="password" v-model="account.repeat">
            </div>
            <button
                @click="updatePersonalInfo"
                class="save-personal"
                >
                SAVE
            </button>
        </section>
    </div>
</template>

<script>
export default {
    name: "User-edit",
    props: ['user', 'avatarPostRoute'],
    mounted() {
        this.account.nickname = this.user.nickname
        this.account.firstName = this.user.firstName
        this.account.lastName = this.user.familyName
        this.account.email = this.user.email
        this.account.password = this.user.password
        this.account.repeat = this.user.password
    },
    data() {
        return {
            // csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            account: {
                firstName: "",
                lastName: "",
                nickname: "",
                email: "",
                password: "",
                repeat: ""
            }
        }
    },
    methods: {
        updatePersonalInfo() {
            axios.put('api/account/' + this.user.id, {
                user: this.account
            })
            .then(response=> {
                if (response.status === 200) {
                    console.log("Account updated")
                }
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>

<style scoped>

h2 {
    text-align: center;
}
.change-profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em auto;
    margin-bottom: 5em;
    padding: 1em;
    text-align: right;
    width: 90%;
    border-radius: 3%;
    background: #1B1720;
    border: 2px solid #443C52;
}

input[type=text], input[type=password] {
    width: 60%;
    margin: 0.2em 0;
    background: #443C52;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.save-personal {
    width: 85px;
    border: 2px solid #F58020;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#name-info {
    margin: 1em 0;
}

#email-info {
    margin: 1em 0;
}

#password-info {
    margin: 1em 0;
}
</style>
