<template>
    <div class="add-quest-container">
        <section class="addQuest">
            <input id="quest-title" placeholder="Enter game name" type="text" v-model="quest.quest_title"/>
           <v-btn
            @click="addQuest()"
           >GO</v-btn>
        </section>
    </div>
</template>

<script>
export default {
    name: "AddQuestOrganism",
    props: ['user', 'games'],
    data: () => ({
        quest: {
            quest_title: "",
            firstName: "",
            familyName:"",
            user_id: "",
            game_pin: NaN
        }
    }),
    mounted() {
        this.quest.firstName = this.user.firstName
        this.quest.familyName = this.user.familyName
        this.quest.user_id = this.user.id

    },
    methods: {
        closeAdd() {
          this.$emit('closeadd')
        },
        addQuest() {
            if(this.quest.quest_title === '') {
                return;
            }
            //Generating game pin
            //Todo make unique game pin
            // let i = 0
            // for (i = 0; i<= this.games.length; i++) {
            //     let uniqueGamePin =  Math.floor(Math.random() * (9999 - 1000) + 1000);
            //
            //     while (uniqueGamePin === this.games.game_pin) {
            //         uniqueGamePin =  Math.floor(Math.random() * (9999 - 1000) + 1000);
            //     }
            // }
            
            let gamePin =  Math.floor(Math.random() * (9999 - 1000) + 1000);
            this.quest.game_pin = gamePin

            axios.post('api/quest/store',{
                quest: this.quest,
            })
            .then (response=> {
                if (response.status === 201) {
                    this.quest.quest_title = ""
                    this.$emit('reloadlist')
                    this.$emit('closeadd')
                }
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>

<style scoped>
.add-quest-container {
    position: fixed;
    display: flex;
    align-items: flex-end;
    z-index: 5;
    overflow: auto;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
.addQuest {
    margin: 8em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21em;
    width: 90%;
    background: #443C52;
}
input {
    color: black;
    background: #f7f7f7;
    border: 0;
    outline: none;
    padding: 5px;
    margin-right: 10px;
    width: 100%;
}
</style>
