<template>
    <div class="contact-form">

            <h2>Contact</h2>
            <p>Don't hesitate to contact us</p>
        <form class="vue-form" @submit.prevent="submit">

            <div class="error-message">
                <p v-show="!email.valid">Voer een geldig e-mail adres in.</p>
            </div>

            <fieldset>
                    <div>
                        <label class="label" for="name">Name:</label>
                        <input type="text" name="name" id="name" required="" v-model="name">
                    </div>
                    <div>
                        <label class="label" for="email">Email:</label>
                        <input type="email" name="email" id="email" required=""
                               :class="{ email , error: !email.valid }"
                               v-model="email.value">
                    </div>

                    <div class="message-container">
                        <label class="label" for="textarea">Message:</label>
    <!--                        <span class="counter">{{ message.text.length }} / {{ message.maxlength }}</span>-->
                        <textarea class="message" name="textarea" id="textarea" required=""
                                  v-model="message.text"
                                  :maxlength="message.maxlength"></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Send">
                    </div>
            </fieldset>
        </form>
    </div>
</template>

<script>
// Regular expression from W3C HTML5.2 input specification:
// https://www.w3.org/TR/html/sec-forms.html#email-state-typeemail
const emailRegExp = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;

export default {
    data: function () {
        return {
            name: "Your name",
            email: {
                value: "your@mail.com",
                valid: true
            },
            message: {
                text: `Message...`,
                maxlength: 255
            },
            submitted: false
        }
    },
    methods: {
        // submit form handler
        submit: function() {
            this.submitted = true;
        },
        // validate by type and value
        validate: function(type, value) {
            if (type === "email") {
                this.email.valid = this.isEmail(value) ? true : false;
            }
        },
        // check for valid email adress
        isEmail: function(value) {
            return emailRegExp.test(value);
        }
    },
    watch: {
        // watching nested property
        "email.value": function(value) {
            this.validate("email", value);
        }
    }
}
</script>

<style scoped>
.contact-form {
    width: 90%;
    margin: 0 auto 4em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #443C52;
    padding: 1em;
    background: #1B1720;
    max-width: 500px;
    text-align: end;
}

.error-message {
    background: #C92727;
    border-radius: 10px;
}

fieldset {
    padding: 1em;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

p, h2 {
    text-align: center;
}

.label {
    align-self: start;
}

input[type=text], input[type=email] {
    align-self: end;
    width: 75%;
    margin: 0.2em 0;
    background: #443C52;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.message-container {
    display: flex;
}

textarea {
    align-self: end;
    width: 75%;
    margin: 0.2em 0;
    background: #443C52;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

input[type=submit] {
    font-weight: bold;
    margin: 1em;
    width: 85px;
    border: 2px solid #F58020;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
</style>
