<template>
<div>
    <button @click="updateVisibility"><</button>
    <h1>{{games.quest_title}}</h1>
    <h2>Game pin: {{games.game_pin}}</h2>
        <TaskViewOrganism
            :tasks="tasks"
            :games="games"
            :gameId="gameId"
            :user="user"
            @removeplayerinfo="$emit('changebool')"
        ></TaskViewOrganism>
    <AddTaskMolecule
        :game="games"
        :gameId="gameId"
        @reloadlist="getTasksList"
        ></AddTaskMolecule>

</div>
</template>

<script>
import AddTaskMolecule from "../Molecules/AddTaskMolecule";
import TaskViewOrganism from "./TaskViewOrganism"
export default {
    name: "Details",
    components: {
        TaskViewOrganism,
        AddTaskMolecule
    },
    props: ['games', 'gameId', 'user'],
    data: function () {
      return {
          tasks: []
      }
    },
    mounted () {
        axios
            .get('api/tasks/')
            .then(response => (this.tasks = response.data))
        .catch(error => {
            console.log(error)
        })
    },
    methods: {
        updateVisibility() {
            this.$emit("changevisibility")
        },
        getTasksList() {
            axios.get('api/tasks')
            .then(response => {
                this.tasks = response.data
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>

<style scoped>
button {
    z-index: 20;
    position: fixed;
    border-radius: 50%;
    bottom: 1em;
    left: 2em;
    width: 1.5em;
    height: 1.5em;
    background: #15111A;
    font-size: 2em;
}

.create-task {
    z-index: 15;
    position: fixed;
    font-size: 3em;
    bottom: 0.5em;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 100px;
    background:linear-gradient(#FDA829 0%, #FF5C00 100%);
    background: white;
}

.cancel {
    z-index: 15;
    position: fixed;
    font-size: 3em;
    bottom: 0.5em;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 100px;
    background:linear-gradient(#4DA9FF 0%, #3770A6 100%);
    background: black;
}
</style>
