<template>
  <div>
      <div v-if="!isMobile">
          <img src="images/info-imgs/info-phone-mockup-closeup-blur.png" alt="">
          <div class="image-content">
              <h2>Easy to use</h2>
              <p>Getting started <span>easy</span> and <span>free</span>, you just need a <span>Google account</span>.</p>
          </div>
      </div>
      <div class="container-mobile" v-else>
          <img src="images/info-imgs/info-phone-mockup-closeup-blur.png" alt="">
          <h2>Easy & free</h2>
          <p>Getting started is easy and free. You can use your Google account, or signup with another e-mail address.</p>
      </div>
  </div>
</template>

<script>
export default {
  name: "EasyComponent"
}
</script>

<style scoped>

div{
  margin: 2em auto;
  text-align: center;
}

img {
    width:50% ;
}

.container-mobile {
    background: #1B1720;
    margin: 24px auto;
    width: 90%;
    border: solid 2px #443C52;
    border-radius: 10px;
}
</style>
