<template>
  <div>
      <div v-if="!isMobile">
        <h2 class="title">Gamification</h2>
        <p>Xp Arena is a <span>framework</span> for gamifying <span>education</span>, to make learning challenging and more fun!</p>
        <div class="image-container">
          <div>
              <img src="images/info-imgs/Gamification-points.png" alt="">
          <p>Points</p>
          </div>
          <div>
              <img src="images/info-imgs/Gamification-badges.png" alt="">
            <p>Badges</p>
          </div>
          <div>
              <img src="images/info-imgs/Gamification-leaderboard.png" alt="">
            <p>Leaderboard</p>
          </div>
          <div>
              <img src="images/info-imgs/Gamification-progress.png" alt="">
            <p>Progress</p>
          </div>
          <div>
              <img src="images/info-imgs/Gamification-avatar.png" alt="">
            <p>Avatar</p>
          </div>
        </div>
      </div>
          <div class="container-mobile" v-else>
              <div class="image-container-mobile">
                  <div class="mobile-image-container">
                      <img class="mobile-image" src="images/info-imgs/Gamification-points.png" alt="">
                      <p>Points</p>
                  </div>
                  <div class="mobile-image-container">
                      <img class="mobile-image" src="images/info-imgs/Gamification-badges.png" alt="">
                      <p>Badges</p>
                  </div>
                  <div class="mobile-image-container">
                      <img class="mobile-image" src="images/info-imgs/Gamification-leaderboard.png" alt="">
                      <p>Leaderboard</p>
                  </div>
                  <div class="mobile-image-container">
                      <img class="mobile-image" src="images/info-imgs/Gamification-progress.png" alt="">
                      <p>Progress</p>
                  </div>
                  <div class="mobile-image-container">
                      <img class="mobile-image" src="images/info-imgs/Gamification-avatar.png" alt="">
                      <p>Avatar</p>
                  </div>
          </div>
          <h2 class="title">Gamification</h2>
          <p class="mobile-text">XP arena uses game mechanics like points, badges, leaderboard, progress overview and adjustable avatar.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "GamificationInfoOrganism"
}
</script>

<style scoped>

h2, p{
  text-align: center;
}
.image-container p {
  font-weight: bold;
}
.title{
  font-size: 2em;
  color: orange;
}

span{
  font-size: 1.5em;
  font-weight: bold;
}

.image-container{
  padding: 1em;
  margin: 1em auto;
  max-width: 1000px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,0.20);
}

/*mobile styling*/
.container-mobile {
    background: #1B1720;
    margin: 24px auto;
    width: 90%;
    border: solid 2px #443C52;
    border-radius: 10px;
}
.image-container-mobile{
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.image-container-mobile p {
    font-size: 8px;
    font-weight: bold;
}

.mobile-image {
    width: 65px;
}

.container-mobile .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.mobile-text {
    font-size: 14px;
}

</style>
