<template>
    <div>
        <hr>
        <iframe  src="https://www.youtube.com/embed/MuDLw1zIc94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
    </div>
</template>

<script>
export default {
    name: "GamifyingVideoOrganism"
}
</script>

<style scoped>
</style>
