<template>
    <div class="join-quest-container">
        <section class="joinQuest">
            <input id="game-pin" placeholder="Enter game pin" type="text" v-model="joinedGame.game_pin"/>
            <v-btn
                @click="joinQuest"
            >GO</v-btn>
        </section>
    </div>
</template>

<script>
export default {
    name: "JoinQuestOrganism",
    props: ["user", "games"],
    data: () => ({
        info: [],
        quest: {
            quest_title: "",
            user_id: "",
            creator_id: "",
            firstName: "",
            familyName:"",
            originalGameId:"",
            game_pin: ""
        },
        joinedGame: {
            game_pin: ""
        }
    }),
    methods: {
        joinQuest() {
            if (this.joinedGame.game_pin === '') {
                return;
            }
        axios.get('api/quest/' + this.joinedGame.game_pin)
            .then (response=> {
                if (response.status === 200) {
                    this.quest.quest_title = response.data.quest_title
                    this.quest.user_id = this.user.id
                    this.quest.creator_id = response.data.user_id
                    this.quest.firstName = response.data.firstName
                    this.quest.familyName = response.data.familyName
                    this.quest.game_pin = response.data.game_pin
                    this.quest.originalGameId = response.data.id
                    axios.post('api/joinedGame/store',{
                        JoinedGames: this.quest,
                    })
                        .then (response=> {
                            if (response.status === 201) {
                                this.joinedGame.game_pin = ""
                                this.$emit('reloadlist')
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    // this.quest.id = ""
                }
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>

<style scoped>
.join-quest-container {
    position: fixed;
    display: flex;
    align-items: flex-end;
    z-index: 5;
    overflow: auto;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
.joinQuest {
    margin: 8em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21em;
    width: 90%;
    background: #443C52;
}
input {
    color: black;
    background: #f7f7f7;
    border: 0;
    outline: none;
    padding: 5px;
    margin-right: 10px;
    width: 100%;
}
</style>
