<template>
    <div>
        <button @click="updateVisibility"><</button>
        <h1>{{joinedGame.quest_title}}</h1>
        <TaskViewOrganism
            :tasks="tasks"
            :games="games"
            :gameId="gameId"
            :user="user"
            @removeplayerinfo="$emit('changebool')"
        ></TaskViewOrganism>
    </div>
</template>

<script>
import TaskViewOrganism from "./TaskViewOrganism";

export default {
    name: "JoinedDetails",
    components: {
        TaskViewOrganism
    },
    props: ['joinedGame','games', 'gameId', 'user'],
    data: function () {
        return {
            tasks: []
        }
    },
    mounted () {
        axios
            .get('api/tasks/')
            .then(response => (this.tasks = response.data))
            .catch(error => {
                console.log(error)
            })
    },
    methods: {
        updateVisibility() {
            this.$emit("changevisibility")
        }
    }

}
</script>

<style scoped>
button {
    z-index: 20;
    position: fixed;
    border-radius: 50%;
    bottom: 1em;
    left: 2em;
    width: 1.5em;
    height: 1.5em;
    background: #15111A;
    font-size: 2em;
}
</style>
