<template>
        <v-container
            id="login-form-container"
        >
            <v-form ref="form" v-model="valid">
                <v-layout text-center wrap>
                    <v-flex xs12></v-flex>

                    <v-flex xs12 mb-4>
                        <v-text-field
                            v-model="user.email"
                            label="E-mail"
                            required
                        ></v-text-field>
                        <v-text-field
                            v-model="user.password"
                            autocomplete="current-password"
                            :value="userPassword"
                            label="Enter password"
                            :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="() => (value = !value)"
                            :type="value ? 'password' : 'text'"
                            @input="_=>userPassword=_"
                        ></v-text-field>
                        <v-btn
                        @click="login"
                        >
                        Login
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-form>
        </v-container>
</template>

<script>
export default {
    name: "LoginFormOrganism",
    data: () => ({
        email: '',
        // emailRules: [
        //     v => !!v || 'E-mail is required',
        //     v => /.+@.+/.test(v) || 'E-mail must be valid',
        // ],
        userPassword: "",
        valid: true,
        value: true,
        rules: {
            required: value => !!value || "Required.",
            // password: value => {
            //     const pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
            //     return (
            //         pattern.test(value) ||
            //         "Min. 8 karakters met minimaal een hoofdletter, nummer en speciaal karakter."
            //     );
            // }
        },
        user: {
            email: "",
            password: ""
        }
    }),
    methods: {
        login() {
            this.$store.dispatch('currentUser/loginUser', this.user);
            this.$store.dispatch('loggedIn/updateLoginStatus', true);
        }
    }
}
</script>

<style scoped>
    #login-form-container{

    /*    margin: 0 auto;*/
    /*    width: 40%;*/
    /*    height: 500px;*/
        background: white;
    }
</style>

<!--hint="Your password passed! Password rules are not meant to be broken!"-->
<!--:rules="[rules.password]"-->
