<template>
<div>
    <h2 id="title">Mijn games</h2>
    <QuestMolecule
        v-for="(game, index) in games" :key="index"
        v-if="game.user_id === user.id"
        :games="game"
        :user="user"
        :tasks="tasks"
        class="quest"
        @itemchanged="$emit('reloadlist')"
        @visiblechange="$emit('changevisibility')"
    />
    <h2>Joined games</h2>
    <JoinedQuestMolecule
        v-for="(joinedGame, index) in joinedGames" :key="index"
        v-if="joinedGame.user_id === user.id"
        :joinedGame="joinedGame"
        :user="user"
        :tasks="tasks"
        :games="games"
        @itemchanged="$emit('reloadlist')"
        @visiblechange="$emit('changevisibility')"
    />
</div>
</template>

<script>
import QuestMolecule from "../Molecules/QuestMolecule"
import JoinedQuestMolecule from "../Molecules/JoinedQuestMolecule";
export default {
    name: "QuestViewOrganism",
    props: ['games', 'user', 'tasks', 'joinedGames'],
    components: {
        QuestMolecule,
        JoinedQuestMolecule
    }
}
</script>

<style scoped>
    .quest {
        background: linear-gradient(to left, #4DA9FF, #3770A6);
        padding: 5px;
        margin-top: 5px;
    }
</style>
