<template>
    <div class="background-darkened">
        <section class="addQuest">
            <button ref="addQuest" @click="show = !show">Create game</button>
            <AddQuestOrganism
                v-show="show"
                :user="user"
                :games="games"
                @reloadlist="$emit('reloadlist')"
            />
        </section>
        <section class="joinQuest">
            <button ref="joinQuest" @click="joinQuest = !joinQuest">Join game</button>
            <JoinQuestOrganism
                v-show="joinQuest"
                :user="user"
                :games="games"
                @reloadlist="$emit('reloadlist')"
            />
        </section>
    </div>
</template>

<script>
import AddQuestOrganism from "./addQuestOrganism";
import JoinQuestOrganism from "./JoinQuestOrganism";

export default {
    name: "QuestJoinOrCreateOrganism",
    components: {AddQuestOrganism, JoinQuestOrganism},
    props: ["user", "games"],
    data: () => {
        return {
            show: false,
            joinQuest: false
        }
    },
    methods: {
        showJoin() {
            this.show = false
            this.joinQuest = false
        }
    }
}
</script>

<style scoped>

section {
    display: flex;
    justify-content: center;
    margin: .5em 0;
    width: 90%;
    height: 25vh;
    background-color: white;
    border-radius: 1em;
}

button {
    font-size: 2em;
    font-weight: bold;
}

.background-darkened {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 5;
    overflow: auto;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
}
.joinQuest {
    background: linear-gradient(#FDA829, #FF5C00);
}

.addQuest {
    margin-bottom: 6em;
    background: linear-gradient(#4DA9FF, #3770A6);
}
</style>
