<template>
    <div>
        <div class="container-mobile">
            <a class="start-now" :href="registerRoute">START NOW</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "StartNowOrganism",
    props: ['registerRoute']
}
</script>

<style scoped>
.container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/UI/levelup-bg-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 24px auto 8em auto;
    height: 12em;
    width: 90%;
    border: solid 2px #443C52;
    border-radius: 10px;
}
.start-now {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    width: 159px;
    height: 46px;
    border-radius: 20px;
    background-color:#443C52;
    border: 2px solid #F58020;
}
.start-now:visited {
    color: white;
}
</style>
