<template>
    <div>
        <div class="task-container">
            <TaskMolecule
                v-for="(task, index) in tasks" :key="index"
                v-if="task.quest_id === Number(gameId)"
                @itemchanged="$emit('reloadlist')"
                @removeplayerinfo="$emit('removeplayerinfo')"
                :tasks="task"
                :gameId="gameId"
                :game="games"
                :user="user"
            />
        </div>
    </div>
</template>

<script>
import TaskMolecule from "../Molecules/TaskMolecule";
export default {
    name: "TaskViewOrganism",
    props: ['tasks', 'games', 'gameId', 'user'],
    components: {TaskMolecule},
    component: {
        TaskMolecule
    }
}

</script>

<style scoped>

.task-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1em;
    width: 90%;
    border: solid 1px #443C52;
    background: #1B1720;
}

</style>
