<template>
    <div>
        <router-link
            v-show="creator"
            :to="{ name: 'details'}"
        >
            <button @click="showPlayer" class="back-button">&lt</button>
        </router-link>

        <router-link
            v-show="follower"
            :to="{ name: 'joineddetails'}"
        >
            <button @click="showPlayer" class="back-button">&lt</button>
        </router-link>
        <section v-show="showTaskDetails" class="task-details">
            <p id="task-title" v-model="task.task_title">{{ task.task_title }}</p>
            <section class="task-basics">
                <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Placeholder image">
                <p id="task-description" v-model="task.description">{{ task.description }}</p>
                <div class="points-container">
                    <p id="task-points" v-model="task.points">{{ task.points }}</p>
                    <label for="task-points">Points</label>
                </div>
            </section>
            <section class="all-task-criteria">
                <h2>Criteria</h2>
                <div class="criteria-container">
                    <div class="circle"></div>
                    <p id="task-criteria1" v-model="task.criteria1">{{ task.criteria1 }}</p>
                </div>
                <div class="criteria-container">
                    <div class="circle"></div>
                    <p id="task-criteria2" v-model="task.criteria2">{{ task.criteria2 }}</p>
                </div>
                <div class="criteria-container">
                    <div class="circle"></div>
                    <p id="task-criteria3" v-model="task.criteria3">{{ task.criteria3 }}</p>
                </div>
            </section>
            <section class="attachments-container">
                <h2>Attachments</h2>
            </section>
        </section>
        <TaskDetailsOrganismEdit
            :taskId="taskId"
            :tasks="tasks"
            v-show="showTaskEdit"
            @taskchanged="reloadList"
        />
        <button
            v-show="showPen"
            v-bind:class="{'edit-task': !clicked, 'cancel': clicked}"
            @click="changeStyling(); showEdit();"
        >pen</button>
    </div>
</template>

<script>
import TaskDetailsOrganismEdit from "./TaskDetailsOrganismEdit";
export default {
    name: "TaskDetailsOrganism",
    components: {
        TaskDetailsOrganismEdit
    },
    props: ['game', 'gameId', 'taskId','tasks', 'user'],
    data: () => ({
        task: {
            task_title: "",
            description: "",
            points: NaN,
            criteria1: "",
            criteria2: "",
            criteria3: ""
        },
        clicked: false,
        showTaskDetails: true,
        showTaskEdit: false,
        showPen: false,
        creator: false,
        follower: false
    }),
    mounted() {
        this.task.task_title = this.tasks.task_title
        this.task.points = this.tasks.points
        this.task.description = this.tasks.description
        this.task.criteria1 = this.tasks.criteria1
        this.task.criteria2 = this.tasks.criteria2
        this.task.criteria3 = this.tasks.criteria3
        this.showPen = this.game.user_id === this.user.id

        if(this.user.id === this.game.user_id) {
            this.creator = true
        }

        if(this.user.id =! this.game.user_id) {
            this.follower = true
        }
    },
    methods: {
        changeStyling() {
            this.clicked = this.clicked === false;
        },
        showEdit(){
            this.showTaskDetails = this.showTaskDetails === false
            this.showTaskEdit = this.showTaskEdit === false
        },
        reloadList(){
            axios.get('api/tasks')
            .then(response => {
                this.task = response.data[0]
                this.showTaskEdit = false
                this.showTaskDetails = true
            })
            .catch(error => {
                console.log(error)
            })
        },
        showPlayer() {
            this.$root.$emit("showplayer");
        }
    }
}
</script>

<style scoped>
#task-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.task-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5em;
}

.task-basics {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    border: solid 1px #443C52;
    border-radius: 5px;
    background: #1B1720;
}

label {
    align-self: center;
    margin: 0.5em;
}

.circle {
    width: 3em;
    height: 3em;
    background: #8B819C;
    border: 1px solid ;
    border-radius: 50%
}

.points-container {
    display: flex;
}

#task-points {
    width: 25%;
    height: 2em;
    text-align: center;
}

.all-task-criteria {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.criteria-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.criteria-container p{
    text-align: center;
}

#task-description, #task-criteria1, #task-criteria2, #task-criteria3{
    height: 3em;
    width: 100%;
    resize: both;
}

.back-button {
    z-index: 20;
    position: fixed;
    border-radius: 50%;
    bottom: 1em;
    left: 2em;
    width: 1.5em;
    height: 1.5em;
    background: #15111A;
    font-size: 2em;
}

/*Button styling*/
.edit-task {
    z-index: 15;
    position: fixed;
    font-size: 3em;
    bottom: 0.5em;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 100px;
    background:linear-gradient(#FDA829 0%, #FF5C00 100%);
}

.cancel {
    z-index: 15;
    position: fixed;
    font-size: 3em;
    bottom: 0.5em;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 100px;
    background:linear-gradient(#4DA9FF 0%, #3770A6 100%);
}
</style>
