<template>
    <div>
        <section class="task-edit">
            <input id="task-title" type="text" v-model="task.task_title"/>
            <section class="task-basics">
                <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Placeholder image">
                <textarea id="task-description" v-model="task.description"></textarea>
                <div class="points-container">
                    <input id="task-points" type="number" v-model="task.points"/>
                    <label for="task-points">Points</label>
                </div>
            </section>
            <section class="all-task-criteria">
                <h2>Criteria</h2>
                <div class="criteria-container">
                    <div class="circle"></div>
                    <input id="task-criteria1" type="text" v-model="task.criteria1"/>
                </div>
                <div class="criteria-container">
                    <div class="circle"></div>
                    <input id="task-criteria2" type="text" v-model="task.criteria2"/>
                </div>
                <div class="criteria-container">
                    <div class="circle"></div>
                    <input id="task-criteria3" type="text" v-model="task.criteria3"/>
                </div>
            </section>
            <section class="attachments-container">
                <h2>Attachments</h2>
            </section>
        </section>
        <button
            @click="updateCheck"
            class="invisible-button"></button>
    </div>
</template>

<script>
export default {
    name: "TaskDetailsOrganism",
    props: ['taskId','tasks'],
    mounted() {
      this.task.task_title = this.tasks.task_title
      this.task.points = this.tasks.points
      this.task.description = this.tasks.description
      this.task.criteria1 = this.tasks.criteria1
      this.task.criteria2 = this.tasks.criteria2
      this.task.criteria3 = this.tasks.criteria3
    },
    data: () => ({
        task: {
            task_title: "",
            description: "",
            points: NaN,
            criteria1: "",
            criteria2: "",
            criteria3: ""
        }
    }),
    methods: {
        updateCheck() {
            axios.put('api/task/' + this.tasks.id, {
                task: this.task
            })
            .then(response=> {
                if (response.status == 200) {
                    this.$emit('taskchanged')
                }
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>

<style scoped>

#task-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.task-edit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5em;
}

.task-basics {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    border: solid 1px #443C52;
    border-radius: 5px;
    background: #1B1720;
}

label {
    align-self: center;
    margin: 0.5em;
}

.circle {
    width: 3em;
    height: 3em;
    background: #8B819C;
    border: 1px solid ;
    border-radius: 50%
}

.points-container {
    display: flex;
}

#task-points {
    width: 25%;
    height: 2em;
    text-align: center;
}

.all-task-criteria {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.criteria-container {
    display: flex;
    width: 90%;
    border: 1px solid #443C52;
    border-radius: 5px;
    background: #15111A;
    margin: 0.5em auto;
    text-align: center;
    align-items: center;
}

.criteria-container input[type=text]{
    text-align: center;
    background: #8B819C;
    border: 1px solid white;
    border-radius: 5px;
}

#task-description, #task-criteria1, #task-criteria2, #task-criteria3{
    height: 5em;
    width: 100%;
    resize: both;
}

.invisible-button {
    z-index: 20;
    position: fixed;
    font-size: 3em;
    bottom: 0.5em;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 100px;
}

</style>
