<template>
  <div>
    <article v-if="!isMobile">
      <div class="text">
        <h1>Welcome to XP arena!</h1>
        <p>XP arena is designed to be an <span>interface</span> to visualise <span>progress</span>, presented in a way that stimulates <span>motivation</span>.</p>
      </div>
        <img class="image" src="images/info-imgs/info-laptop-smartphone.png" alt="Information image">
    </article>
      <article v-else>
          <div class="welcome-container">
              <img class="mobile-image" src="images/info-imgs/info-laptop-smartphone.png" alt="Information image">
              <div class="mobile-text-container">
                  <h1 class="mobile-header">Welcome to XP arena</h1>
                  <p class="mobile-text">A tool to gamify any process</p>
              </div>
          </div>
      </article>
  </div>
</template>

<script>
export default {
  name: "WelcomeXpArenaOrganism"
}
</script>

<style scoped>
*{
  color: white;
}
article{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.text{
  align-self: flex-start;
}
  h1{
    font-size: 2.5em;
    font-weight: bolder;
  }
  p{
    margin: 3em 0;
  }
  span{
    font-size: 1.5em;
    font-weight: bold;
  }

.image{
  align-self: flex-end;
    width: 500px;
}

hr{
  margin: 2em auto;
  border: none;
  background: linear-gradient(0.25turn,  rgba(255,255,255,0%),  rgba(255,255,255,1),  rgba(255,255,255,0%));
  height: 2px;
  width: 60%;
}

/*mobile styling*/
.mobile-image {
    width: 70%;
}

.mobile-header {
    font-size: 20px;
}

.mobile-text {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.welcome-container {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
    border-radius: 10px;
    border: solid 2px #443C52;
    background: #443C52;
}

.mobile-text-container {
    padding: 1em;
    height: 40%;
    background: #1B1720;
    border-radius: 0 0 10px 10px;
}

</style>


