<template>
    <h1>Test</h1>
</template>

<script>
import Home from "./pages/Home";
import './styles/app.scss';
import VueRouter from 'vue-router'
export default {
    router: VueRouter,
    name: "app",
    components: {
        Home
    }
}
</script>

<style scoped>

</style>
