// Body
$body-bg: #f8fafc;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&family=Urbanist&display=swap');
$font-family-sans-serif: 'Urbanist', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


