
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$font-color: #fff;

$background-color: #15111A;
$super-dark: #25202C;

$primary-color1: linear-gradient(90.28deg, #FF5C00 -0.57%, #FDA829 169.17%);
$primary-color2: #3A7BB7;
$border-color: #443C52;


@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Spartan', sans-serif;
    color: white;
}
h1 {
    color: $font-color;
}

body, html, #app, .app{
    padding: 0;
    margin: 0;
    background-color: $background-color;
    text-align: center;
}

hr{
    margin: 2em auto;
    border: none;
    background: linear-gradient(0.25turn,  rgba(255,255,255,0%),  rgba(255,255,255,1),  rgba(255,255,255,0%));
    height: 2px;
    width: 60%;
}

.profile-pic {
    margin: 1em 0;
    width: 150px;
    height: 150px;
    background: white;
    clip-path: circle();
}

.home-nav {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

.home-nav a {
    margin: 0 1em;
}

.card {
    margin: 0 auto;
    width: 90%;
    background: #8B819C;

    .card-header {
        border: none;
        background: none;
    }
}

.navbar {
    border: 1px solid $border-color;
}
.navbar-brand {
    color: $font-color;
}

.nav-link {
    color: $font-color;
}

.trash-can{
    background: #e6e6e6;
    color: #FF0000 !important;
    border: none;
    outline: none;
}

//mobile menu styling

.mobile-nav-container {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background: $super-dark;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4em;
    width: 100%;
}

.dropdown-menu{
    background: $super-dark;
    a {
        color: white;
    }
}


#navbarDropdown {

    span {
        display: block;
        width: 38px;
        height: 3px;
        margin: 8px 0;
        position: relative;

        background: white;
    }
}


.profile-pic{
    margin: 0;
    width: 50px;
    height: 50px;
    img {
        width: 100%;
        height: 100%;
        background: url("images/UI/default-profile-pic.png");
        background-size: cover;
        border: 1px white solid;
    }
}

.profile-pic-nick {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto;
    padding: 1em;
    text-align: right;
    width: 90%;
    border-radius: 3%;
    background: #1B1720;
    border: 2px solid #443C52;

    .upload-icon {
        position: absolute;
        top: 4.5em;
        left: 10.8em;
    }

    .current-profile-pic {
        width: 7em;
        height: 7em;
        border-radius: 100px;
        background: url("images/UI/default-profile-pic.png") white;
        background-size: cover;
        display: block;
    }

        input[type=text] {
            width: 60%;
            margin: 0.2em 0;
            background: #443C52;
            color: black;
            font-weight: bold;
            border-radius: 10px;
        }

        .save-btn {
            margin: 1em;
            width: 85px;
            border: 2px solid #F58020;
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 50px;
        }
        input[type=file] {
            display: none;
        }

    .image-input-label {
        width: 0;
    }
    .profile-pic-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.change-profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em auto;
    margin-bottom: 5em;
    padding: 1em;
    text-align: right;
    width: 90%;
    border-radius: 3%;
    background: #1B1720;
    border: 2px solid #443C52;

    input[type=text], input[type=password], input[type=email] {
        width: 60%;
        margin: 0.2em 0;
        background: #443C52;
        color: black;
        font-weight: bold;
        border-radius: 10px;
    }

    .save-personal {
        width: 85px;
        border: 2px solid #F58020;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 50px;
    }

    .email-container {
        margin: 2em 0;
    }
}

//dropdown menu styling

.dropdown-menu {
    .background-transparent {
        margin: -0.5em 0;
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: -5;
    }

    .dropdown-item {
        margin: 0.5em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        width: 100vw;
        padding: 0;
    }
}

.dropdown-menu.show {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

//login styling mobile

.login-logo-mobile {
    width: 100%;
    margin: -1.5rem !important;
}

.login-container {
    padding: 2em;
    display: flex;

    .email-login-container {
        display: flex;
    }

    .col-form-label {
        width: 50%;
    }

    .function-container {
        display: flex;
        flex-direction: column;
    }

    .login-btn {
        width: 40%;
        font-weight: bold;
        padding: 0 1em;
        background: #443C52;
        border: 2px solid #F58020;
        border-radius: 50px;
        align-self: end;
    }
    label {
        padding: 0;
        text-align: end;
    }
    #remember {
        margin-left: 1em;
    }

}

.form-control {
    background: #443C52;
    border: none;
    width: 50%;
    height: 1.5em;
}

.login-create-account {
    padding: 1em;
    border: 2px solid #443C52;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 90%;
    margin: 1em auto 5em auto;
    .create-account-link {
        display: block;
        width: 60%;
        margin: 1em auto;
        padding: 0.3em;
        text-decoration: none;
        font-weight: bold;
        color: inherit;
        border: 2px solid #F58020;
        border-radius: 20px;
        background: #443C52;
    }
}

//register form styling

.register-card {
    background: #1B1720;
    border: 2px solid #443C52;
}


.register-container {
    form {
        padding: 0.5em;
        display: flex;
        flex-direction: column;

        .register-input {
            width: 90%;
            margin: 0 0.5em;
        }
    }
    .register-field-container {
        margin: 0.5em 0;
        display: flex;
        justify-content: flex-end;
    }
    label {
        width: 75%;
        text-align: end;
    }
    .register-button {
        width: 40%;
        font-weight: bold;
        padding: 0 0.5em;
        margin: 1em 0;
        text-transform: uppercase;
        background: #443C52;
        border: 2px solid #F58020;
        border-radius: 50px;
        align-self: end;
    }
}


