<template>
<div>
    <form method="POST" action="/api/users/{{ auth()->id() }}/avatar" enctype="multipart/form-data">
        <input type="file">
        <button type="submit">Add avatar</button>
    </form>
</div>
</template>

<script>
export default {
    name: "AddAvatarMolecule",
    props:['user']
}
</script>

<style scoped>

</style>
