<template>
    <div>
        <section>
            <input id="task-title" placeholder="Enter Task name" type="text" v-model="task.task_title">
            <input id="task-points" placeholder="Enter points" type="number" v-model="task.points">
            <input id="task-description" placeholder="Enter description" type="text" v-model="task.description">
            <input id="task-criteria1" placeholder="Enter criteria" type="text" v-model="task.criteria1">
            <input id="task-criteria2" placeholder="Enter criteria" type="text" v-model="task.criteria2">
            <input id="task-criteria3" placeholder="Enter criteria" type="text" v-model="task.criteria3">
            <button
                @click="addTask"
            >GO</button>
        </section>
    </div>
</template>

<script>
export default {
    name: "AddTaskMolecule",
    props:['game', 'gameId'],
    data: () => ({
        task: {
            task_title:"",
            quest_title: "",
            quest_id: "",
            description: "",
            criteria1:"",
            criteria2:"",
            criteria3:"",
            points: NaN
        }
    }),
    mounted() {
        this.$root.$on('dataLoad', () => {
            this.task.quest_id = this.gameId
            this.task.quest_title = this.game.quest_title
        })
    },
    methods: {
        addTask() {
            if (this.task.task_title === '' || this.task.points === 0){
                return
            }
            axios.post('api/task/store',{
                task: this.task
            })
            .then(response=>{
                if (response.status === 201) {
                    this.task.task_title = ""
                    this.task.points = NaN
                    this.task.description = ""
                    this.task.criteria1 = ""
                    this.task.criteria2 = ""
                    this.task.criteria3 = ""
                    this.$emit('reloadlist')
                }
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>

<style scoped>

</style>
