<template>
    <div>
        <nav  class="desktop-menu">
            <ul v-if="isLoggedIn">
                <li><router-link :to="{ name: 'home' }">Home</router-link></li>
                <li><router-link :to="{ name: 'about' }">About</router-link></li>
                <li><router-link :to="{ name: 'contact' }">Contact</router-link></li>
                <li><router-link :to="{ name: 'login' }">Login</router-link></li>
            </ul>
            <ul v-else>
                <li><router-link @click="logOut" :to="{ name: 'home' }">Logout</router-link></li>
            </ul>
        </nav>
    </div>
</template>


<script>
export default {
computed: {
    isLoggedIn: function () {
        return this.$store.state.loggedIn.userLoggedIn
    }
},
    methods: {
    logOut() {
        //TODO Werkend krijgen
        console.log("hallo?")
        this.$store.dispatch('loggedIn/updateLoginStatus', false);
        }
    }
}
</script>

<style scoped>
.desktop-menu{
    display: flex;
    justify-content: flex-end;
}
ul {
    z-index: 10;
    position: fixed;
    display: flex;
}
li, a{
    font-weight: bold;
    color: white;
    margin: .5em .5em;
    list-style: none;
    text-decoration: none;
}

</style>
