<template>
<div>
    <router-link @click.native="updateVisibility"
        :to="{ name: 'joineddetails', params: { joinedGame: this.joinedGame, gameId:this.joinedGame.id, tasks: this.tasks }}">
        <h2>{{ joinedGame.quest_title }}</h2>
    </router-link>
    <h6>{{ joinedGame.firstName }}</h6>
</div>
</template>

<script>
export default {
    name: "JoinedQuestMolecule",
    props: ['joinedGame', 'user', 'tasks', 'games'],
    data: function () {
        return {
            gameId: this.joinedGame.originalGameId
        }
    },
    methods: {
        updateVisibility() {
            this.$emit("visiblechange")
            this.$root.$emit("dataLoad")
        }
    }
}
</script>

<style scoped>

</style>
