<template>
    <div class="quest">
        <router-link @click.native="updateVisibility"
                     :to="{ name: 'details', params: { user: this.user, games: this.games, gameId:this.gameId, tasks: this.tasks }}"
        >
            <h2>{{games.quest_title}}</h2>
        </router-link>
        <button
            @click="removeGame"
            class="trash-can"
        >
            <font-awesome-icon icon="trash"/>
        </button>
        <img src="" alt="">
    </div>
</template>

<script>
export default {
    name: "QuestMolecule",
    props: ['user', 'games', 'tasks', 'user'],
    data: function () {
        return {
            gameId: this.games.id
        }
    },
    methods: {
        updateCheck() {
            axios.put('api/quest/' + this.games.id, {
                quest: this.games
            })
            .then(response =>{
                if(response.status == 200) {
                    this.$emit('itemchanged')
                }
            })
            .catch ( error => {
                console.log(error)
            })
        },
        removeGame() {
            axios.delete('api/quest/' + this.games.id)
            .then(response => {
                if (response.status == 200) {
                    this.$emit('itemchanged')
                }
            })
            .catch (error => {
                console.log(error)
            })
        },
        updateVisibility() {
            this.$emit("visiblechange")
            this.$root.$emit("dataLoad")
        }
    }
}
</script>

<style scoped>
.completed {
    text-decoration: line-through;
    color: #999999;
}

.quest-text {
    width: 100%;
    margin-left: 20px;
    color: black;
}

.user {
    color: black;
}

.quest {
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest h2 {
    font-weight: bold;
}

.trash-can {
    color: black;
}



</style>
