<template>
    <div>
        <router-link
            :to="{ name: 'taskdetails', params: { user:user, game:game, gameId: gameId, taskId: tasks.id, tasks: tasks }}"
        >
        <img class="task-image" src="https://socialistmodernism.com/wp-content/uploads/2017/07/placeholder-image.png?w=640" alt="Placeholder image">
        <p @click="$emit('removeplayerinfo')">{{tasks.task_title}}</p>
        </router-link>
    </div>
</template>

<script>
export default {
    name: "TaskMolecule",
    props: ['tasks', 'gameId', 'game', 'user'],
    data: function() {
        return {
            clicked: false
        }
    },
    methods: {
        updateCheck() {
            axios.put('api/tasks/' + this.tasks.id, {
                quest: this.games
            })
                .then(response =>{
                    if(response.status == 200) {
                        this.$emit('itemchanged')
                    }
                })
                .catch ( error => {
                    console.log(error)
                })
        }
    }
}
</script>

<style scoped>
main {
    display: flex;
    padding: 1em 0;
    justify-content: space-around;
    background: #1B1720;
    width: 90%;
    height: 25vh;
    margin: 0 auto;
}

.task-image {
    width: 8em;
    border-radius: 50%;
    background: white;
}

</style>
